:root{
  --primary-color: #21ca65;
  --second-color: #00A737;
  --third-color: #00C04E;
  --fourth-color: #56E388;
  --fifth-color: #83FAA8;

  --text-color: #777;
}

.text-color{
  color: var(--text-color) !important;
}

a:hover{
  text-decoration: none !important;
}

.btnSaibaMais{
  background: var(--primary-color);
  border-radius: 10rem;
  margin: 2em 0;
  color: white;
}

.btnSaibaMais:hover{
  background: var(--second-color);
  color: white;
}
.text-second{
  color: var(--second-color) !important;
}

body{
  font-family: 'Poppins', sans-serif;
}

p{
  color: var(--text-color);
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/

.navbar img{
  width: 100%;
  max-height: 50px;
}
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before, .navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

@media (min-width: 768px) {
  .navbar-b.navbar-trans .nav-link:before, .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}

.navbar-b.navbar-trans .nav-link:hover, .navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before, .navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before, .navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: var(--second-color);
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: var(--second-color);
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: var(--second-color);
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: var(--second-color);
}

.navbar-b.navbar-reduce .navbar-brand {
  color: var(--second-color);
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #0078ff;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #0078ff;
}

/*--/ Hamburger Navbar /--*/
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}





header{
    background-image: url(../images/background-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
header  .content h1{
    color: white;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
}
header .content a{
    background: var(--primary-color);
    color: white;
    padding: 8px 36px;
    font-size: 20px;
    margin-top: 18px;
    border: 2px solid var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
}
header .content a:hover{
  border-color: var(--primary-color);
  background: transparent;
  color: white;
  transition: 0.5s;
}

/* ===== Quem somos =====*/
section.quem-somos{
  margin: 5em 0;
}



/* ===== Serviços =====*/
section.servicos{
  margin: 5em 0;
}
section.servicos .box{
  padding: 50px 20px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
}
section.servicos .box .icon{
  position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: var(--primary-color);
}
section.servicos .box:hover .icon {
  background: #fff;
  border: 2px solid var(--primary-color);
}
section.servicos .box h4{
  font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* ===== Treinamento =====*/

section.treinamento .row h2, section.treinamento .row p{
  color: white;
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: var(--second-color);
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: var(--second-color);
}

section.treinamento{
  padding: 5em 0;
  position: relative;
  padding: 5em 0px 90px 0px;
  background: radial-gradient(circle, rgba(0,167,55,1) 0%, rgba(33,202,101,1) 100%);
}


.service-item {
  cursor: pointer;
  display: block;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

@media screen and (max-width: 920px) {
  .service-item {
    /* margin: 0px 30px !important; */
  }
}

.service-item:hover .icon,
.service-item:hover a.main-button {
  background-color: var(--second-color);
}

.service-item .icon {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: var(--primary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.service-item .icon img {
  max-width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-item .service-title {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.service-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.service-item a.main-button {
  margin-top: 30px;
  display: inline-block;
}

.owl-carousel .owl-dots {
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

.owl-carousel button.owl-dot span {
  border-radius: 50%;
  background-color: #fff;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0px 5px;
}

.owl-carousel button.active span {
  width: 8px;
  height: 8px;
  padding-top: 1.5px;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav button.owl-next span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  right: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: var(--second-color);
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  left: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: var(--second-color);
  position: absolute;
}

@media screen and (max-width: 1320px) {
  .owl-carousel .owl-nav {
    display: none !important;
  }
}

section.treinamento a.btnSaibaMais{
  background: white;
  color: var(--second-color);
}

/* ===== clientes =====*/
section.clientes {
  padding: 5em 0;
}
section.clientes .col-lg-3{
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-right{
  border-right: none !important;
}
.b-bottom{
  border-bottom: none !important;
}


/* section.clientes .logos img{
  border-right: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
} */

/* =====  BLOG  =====*/

section.blog{
  margin: 5em 0;
}
section.blog .content h5{
  margin-top: 1em;
  font-weight: 400;
}
section.blog .content h6{
  opacity: 0.5;
  font-weight: 400;
}
section.blog .content h6 span{
  color: var(--primary-color);
}


/* ===== Footer ===== */

footer{
  background: rgb(212, 212, 212);
}
footer .col-md-6 img{
  max-height: 100px;
}
footer h5{
  font-weight: 600;
}
footer ul li a{
  color: black;
}
footer ul li a:hover{
  color: var(--text-color);
}

/* ===== empresa ===== */
header.header-empresa{
  background-image: url(../images/background-header.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


/* ===== Treinamento =====*/
.page-treinamento{
    padding: 5em 0;
    padding: 5em 0px 90px 0px;
    
}

/* ===== Contato =====*/
section.contato{
  margin: 5em 0;
}
section.contato .col-lg-6{
  background: #b7b7b726;
  padding: 2em;
}
section.contato .col-lg-6 .info .row{
  margin: 2em 0 !important;
}
section.contato .col-lg-6 ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
section.contato .col-lg-6 ul li a{
  color: black;
}
section.contato .col-lg-6 .icon{
  margin-right: 1em;
}
section.contato .col-lg-6 .icon img{
  width: 30px;
  height: 30px;
}

section.contato form input, section.contato form textarea{
  width: 100%;
  padding: .375rem .75rem;
  border: none;
  border-radius: 7px;
  
}
section.contato form input::placeholder, section.contato form textarea::placeholder{
  
}
section.contato  .col-lg-4{
  padding: 2em;
  background: #00a73726;
}
section.contato form button{
  background: var(--primary-color);
  color: white;
  width: 100%;
  text-align: center;
}
section.contato form button:hover{
  background: var(--second-color);
  color: white;
}